 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="question" class="text-light">Questions</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="question" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="answer" class="text-light">Answers</label>
            <input type="text" name="answer" value="" placeholder="">
        </div>
      
        </div>

      

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

</form>